<div class="grid flip-container">
        <div class=" card  ">
            <div class="grid col-4 front">
                <p-card header=""  [style]="{'height':'97vh'}" >
                    <ng-template  pTemplate="header"   >
                        <img alt="Card" src="\assets\images\shirt.webp">
                    </ng-template>
                    <div class="grid">
                        <p-button label="shirt" class=" col-6 p-fluid"></p-button>
                        <p-button label="$5" class=" col-6 p-fluid" ></p-button>
                    </div>
                    <ng-template pTemplate="footer">
                        <div class="grid">
                           
                        </div>
                     </ng-template>
                </p-card>
            </div>
            <div class="grid back">
                <p-card header=""  [style]="{'height':'97vh'}" >
                    <ng-template  pTemplate="header"  [style]="{'height': '70%'}" >
                      
                    </ng-template>
                    <div class="col-4">
                        <h1>Description:</h1>
                        <p> The shirt is full hands and containing checks</p>
                    </div>
                    <ng-template pTemplate="footer">
                        <div class="grid">
                           
                        </div>
                     </ng-template>
                </p-card>
            </div>
        </div>    
</div>




    
<!-- <div class="flip-container">
    <div class="card">
      <div class="front">
        <h1>FRENTE</h1>
      </div>
      <div class="back">
        <h1>DORSO</h1>
      </div>
    </div>
</div> -->